/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 3px #4e1bbb;
    background-color: #ffffff;
  }

  .wizard {
    width: 3in;
  }
 
  
  h1,h2,h3 {
    font-family: 'Courier New', Courier, monospace;
    color:#ffffff
  }
  p {
    
    color:#fffb7e
  }
 

  .minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 3px #f0ff24;
    background-color: #2b1e80;
  }
  .minor-section1 {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 3px #f0ff24;
    background-color: #665ca7;
  }